//<SUBDOMAIN>.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.cb2dbc2a-fee3-49ce-9261-d49e51f99a16/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@foundry-for-tunes:registry=https://<SUBDOMAIN>.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.cb2dbc2a-fee3-49ce-9261-d49e51f99a16/contents/release/npm/
